footer {
    margin-top: 3%;
    background-color: #EFEFEF;
    p {
        padding-bottom: 0px;
    }
    @media screen and (max-width: 1500px) {
        p { text-align: right; }
        padding: 1%;
    }
    @media screen and (max-width: 600px) {
        padding: 2%;
        p {
            text-align: center;
            margin-top: 3%;
        }
        .fa-facebook-square {
            margin-left: 30%;
            margin-top: 3%;
        }
    }
    .fab {
        color: darkgray;
        padding-right: 15px;
    }
}