img {
    width: 100%;
    height: auto;
}
p {
    padding-bottom: 25px;
}
.btn {
    background-color: #E92569;
    color: white;
    padding: 7px 30px 7px 30px;
    margin-bottom: 3%;
}
.btn-default:hover {
    color: #E92569;
    background-color: white;
    font-weight: bolder;
}