// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

h1, h2, h3, .card-title {
    font-family: 'Noto Serif', serif;
    font-weight: bolder;
}
h1{
    font-size: 24px;
}
h2, h3, .card-title {
    font-size: 20px;
}
body, .card, .contact {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
//Logo
.navbar-header .navbar-brand {
    font-size: 22px;
    color:#E92569;
    font-style: italic;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
}
.nav li {
    font-size: 13px; 
}
.form-group input, .form-group textarea {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
footer {
    font-size: 11px;
}
.bold {
    font-weight: bold;
}